#root {
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
}

#home-container {
  padding: 100px 10px; 
  width: auto;
  background-color: white;
}

.recipe-container {
  background-color: white;
  box-shadow: 0 2px 4px;
  padding: 20px;
  border-radius: 8px;
  width: auto;
  height: auto;
}

#nav-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px; 
  width: auto;
  background-color: white;
}

#nav-bar-container a {
  text-decoration: none;
  color: #5394e3; 
  margin-left: 20px; 
}

#search-container {
  display: flex;
  justify-content: flex-end;
  color: #5394e3;
}

input {
  background-color: white;
  color: #5394e3;
  padding: 5px;
  box-sizing: border-box;
  border-color: white;
}

.recipe-button {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px;
  padding: 20px;
  border-radius: 8px;
}

.recipe-button:hover {
  background-color: #6fabf5;
  cursor:grab;
}


