:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://t3.ftcdn.net/jpg/00/78/50/10/360_F_78501090_gyEtmjzDbcJkmIHwZ3onU9VYrPbt5LPc.jpg");
}

img {
  height: 35%;
  width: 35%;
}


